.pytest_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/
.routing/

build/
dist/
*.egg-info/
.eggs/

.coverage
.coverage.*
htmlcov/

.mypy_cache/
.ruff_cache/
.tox/
.nox/

outputs/

.idea/
.vscode/

.DS_Store
Thumbs.db
